.button {
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primery {
  background-color: #000;
  color: #fff;
}
